@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #fe8a18;
  --accent: #308d89;
  --shade: #fb7d01;
}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}


@layer components{
  .btn-primary{
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 10px 24px;
    border: 2px solid var(--primary-color);
    color: var(--background);
    font-size: 14px;
    font-weight: 600; 
    cursor: pointer;

  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
